@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all  0.5s ease-in-out .1s;
    color: #fff;

}

body {
    background-image: url("../imgs/behance-64b53cba52f5f.png");
    overflow: hidden;
    background-size: contain;
}

main {
    width: 95%;
    height: 94dvh;
    display: grid;
    grid-template-columns: auto 67.5% 4%;
    column-gap: 2%;
    margin: 3dvh 2%;
    perspective: 300px;
}

.main-section,
aside {
    background-color: #121212;
    border: 2px solid #383838;
    border-radius: 17px;
    box-shadow: 0 0 11px rgb(255 255 255 / 10%);

}

.nav-icon {
    border-radius: 50px;
    height: 65vh;
    align-self: center;
    background: #2b2b2cbf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-icon>a>i {
    font-size: 25px;
    color: #999999;
    text-align: center;
    transition: after 200ms;
    cursor: pointer;
}

.nav-icon>a>i:hover {
    color: #28e98c;
    transition: all 200ms;
}
.active{
    color: #28e98c !important;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-top {
    height: 350px;
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-top>img {
    background-color: #e0e0e0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 250px;
    border-radius: 17px;
}
.info-top>div{
    font-size: 26px;
    font-weight: 500;
}
.info-top>div:last-of-type{
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    padding: 5px 18px;
    background-color: #2b2b2c;
}
.social{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.social>i{
    font-size: 20px;
    color: #999999;
    border: 2px solid #565656;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}
.social>i:hover{
    color: #28e98c;
    border: 2px solid #28e98c;
    transition: all 200ms;
}

button{
    background-color: #28e98cd6;
    border: none;
    border-radius: 25px;
    padding: 10px 100px;
    font-size: 20px;
    margin-bottom: 45px;
    cursor: pointer;
    border: 2px solid #28e98c;
}
button:hover{
background-color: transparent;
color: #28e98c;
transition: all 500ms;
}
.main-section{
    display: grid;
    grid-template-rows: 100px 1fr;

animation-duration: 1s;
animation-fill-mode: forwards;
}
.title{
    color: #fafafa;
    font-size: 32px;
    font-weight: 600 ;
    padding: 20px;
    text-transform: capitalize;
    width: 100%;
    
}

.title::after{
    content: " ";
    width: 100px;
    height: 5px;
    background-color: #28e98c;
    display: block;
    border-radius: 50px;
}
.content{
    overflow-y: auto;
    height: 75dvh;
    width: 94%;
    margin: 0 3%;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;

}
.content>section{
    width : 100%;
    height: 68dvh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    block-size: 100%;
}
#who>h1{
    width: 90%;
    height: 45dvh;
    font-size: 60px;
    margin-top: 40px;
}
.type ,.typed-cursor{
    color: #28e98c;
}
#who>p{
    font-size: 18px;
    width: 70%;
}
.main-left-slide{
    
    grid-template-columns: 7% 86% 4%;
    transition: all  0.8s ease 0s;

}

.left-slide{
    height:100px;
    margin-top: 30px;
    transition: .5s ease-in-out;

}
.info-top>.img-left-slide{
    height: 75%;
    border-radius: 50%;
    transition: .5s ease-in-out;

}
.d-n{
    display: none !important;
}
.social-left{
    width: 70%;
    flex-direction: column;
    height: 70dvh;
    align-items: center;
    transition: all 0.5s ease-out;
}
.info-top>.f-s{
    font-size: 11px;
    transition: all 0.3s ease-out;

}

#about{
    display: flex;
    justify-content: space-around;
}
#about>div:first-child{
    background: #fff;
    height: 400px;
    border-radius: 32px 32px 0px ;
    overflow: hidden;
    margin-top: 20px;
    width: 30.8%;
}
#about>div>img{
    height: 475px;
    z-index: 2;
    position: relative;
    background: #e0e0e0;
}
.border{
    width: 20%;
    height: 66%;
    position: absolute;
    top: 20%;
    left: 23%;
    background: transparent;
    border: 2px solid #28e98c;
    border-radius: 32px 32px 0;
}
.about{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.about>p{
    font-size: 22px;
    color: #eeecec;
}
#services{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    grid-template-rows: 40% 40%;
    gap: 5%;
}
#services>div{
    background: #202022;
    height: 100%;
    border: 2px solid #383838;
    border-radius: 17px;
    box-shadow: 5px 5px 10px #3838384a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#services>div>i{
    font-size: 40px;
    color: #28e98c;
}
#services>div>div{
    font-size: 20px;
    font-weight: 700;
}
#skills{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, 10%);
    align-items: center;
}
#skills>div>i{
    color: #28e98c;
    font-size: 50px;
}
.icon{
    opacity: 0;

}
#projects{
    display: grid;
    grid-template-rows: 10% 80%;
    row-gap: 10%;
    align-items: center;
}
.projects{
    height: 90%;
}
.cat{
width: 80%;
height: 10%;
display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
}
.cat>div{
    border: 2px solid #383838;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}
.cat>div:hover{
    border: 2px solid #28e98c;
    transition: all 200ms;
}
.projects>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.project{
    width: calc(95% / 3);
    height: 100%;
    background: #202022;
    border-radius: 17px;
    border: 2px solid #383838;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px #3838384a;
    position: relative;
    overflow: hidden;

}
.project>.img{
    overflow: hidden;
    width: 100%;
    height:70%;
}
.project>.img>img{
    width: 100%;
    height:100%;
    border-radius: 17px;
}
.scale{
        transform: scale(1.1);
}

.project>div{
    width: 90%;
    font-size: 20px;
    height: 13%;
}
.pr-active{
background-color: #24c678;
color: #fff;
}
.project>.demo{
    background: #38383873;
    cursor: pointer;
    padding: 45% 50%;
    position: absolute;
    text-align: center;

    opacity: 0;
}
.project>.demo>i{
    color: #28e98c;
    background-color: #383838;
    padding: 8px;
    border-radius: 10px;
    transform: translate(-20px, -20px);
}
.project>.demo:hover{
    opacity: 1;
}

.project>.tools{
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    row-gap: 10%;
    grid-template-rows: 45% 45%;
    justify-content: space-evenly;
}
.project>.tools>div{
    border: 2px solid #383838;
    font-size: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #27e285c2;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.project>.tools>div:hover{
    background-color: transparent;
    color: #27e285;
}