.nav{
    border-radius: 20px;
    background-color:#1e1e1f;
    width: 4%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}